* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
  outline: 0;
}

a {
  text-decoration: none;
}

body, html {
  height: 100%;
}

body {
  background: #DFEBED;
  font-family: 'Montserrat', sans-serif;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.container .calendar {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transition: .9s;
  transition: .9s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
}

/* Front - Calendar */
.front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  margin-top: 0;
}

.current-date {
  border-bottom: 1px solid rgba(73, 114, 133, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px;
  color: black;
  font-size: 20px;
  text-align: left !important;
}

.current-date h1 {
  color: black;
  font-size: 1.4em;
  font-weight: 300;
}

.week-days {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  padding: 30px 40px;
  font-size: 14px;
}

.days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weeks {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  font-size: 14px;
  font: normal normal 600 14px/18px Montserrat;
}

.weeks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  font-weight: 300;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.weeks span {
  padding: 10px;
}

.weeks span.active {
  background: #EC2028 0% 0% no-repeat padding-box;
  opacity: 0.5;
  border-radius: 50%;
  color: white;
}

.weeks span:not(.last-month):hover {
  cursor: pointer;
  font-weight: 600;
}

.last-month {
  opacity: .3;
}

/* Back - Event form */
.back {
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.info {
  color: #DFEBED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 1.2em;
  padding: 30px 40px;
}

.info div:not(.observations) {
  margin-bottom: 40px;
}

.info span {
  font-weight: 300;
}

.info .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .date p {
  width: 50%;
}

.info .address p {
  width: 100%;
}

.actions {
  bottom: 0;
  border-top: 1px solid 73, 114, 133, 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
}

.actions .btn.btn-light:hover {
  border: solid;
  cursor: pointer;
  border-color: red;
}

.actions button:active {
  background: #5889A0;
  outline: none;
}

/* Flip animation */
.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#btn-exibicao {
  top: 16px;
  left: 319px;
  width: 21px;
  height: 21px;
  background: white 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 10px;
}

#calendario {
  font: normal normal 600 14.5px/20px Montserrat;
}

.btn.btn-light {
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #171717;
  opacity: 1;
  border-radius: 50px;
  display: inline;
}

.btn.btn-light:hover {
  border: solid;
  border-color: red;
}

.btn-dias {
  margin: 10px;
  margin-top: -10px;
}

img {
  margin-top: 30px;
}

.anteriorEproximo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#right, #left {
  text-align: center;
  background-color: red;
  -ms-flex-line-pack: end;
      align-content: end;
  border-radius: 150%;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 0 0 0 0 rgba(248, 242, 242, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
          box-shadow: 0 0 0 0 rgba(248, 242, 242, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
  border-bottom: 0px;
  margin-left: 300px;
  margin-top: -25%;
  border: none !important;
}

#btn-left, #btn-right {
  text-decoration: none;
  color: black;
}

#divDia, #divMes {
  top: 8px;
  left: 20px;
  width: 164px;
  height: 24px;
  text-align: left;
  font: normal normal 600 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #171717;
  opacity: 1;
  margin-left: 12px;
}

#divDiaSemana {
  top: 34px;
  left: 20px;
  width: 69px;
  height: 13px;
  text-align: left;
  font: normal normal medium 10px/13px Montserrat;
  font-size: 11px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin-left: 12px;
  margin-top: -15px;
}

.dataAtual {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 55px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 5px 6px #00000029;
          box-shadow: 0px 5px 6px #00000029;
  opacity: 1;
}

#divAno {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -25%;
}
/*# sourceMappingURL=calendario.css.map */